<template>
  <div>
    <NuxtPwaAssets />
    <Page />
  </div>
</template>

<script>
import config from "../config";

export default {
  name: "App",
  mounted: () => {
    document.title = config.title;
  },
};
</script>
