@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  display: block;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
