// Colors
$c-white: #ffffff;
$c-lighter-gray: #f7f7f7;
$c-light-gray: #f2f2f2;
$c-light-gray-side: #eaeaea;
$c-gray: #262626;
$c-dark-gray: #202020;
$c-black: #000000;
$c-green: #4caf50;
$c-green-light: lighten($c-green, 42);
$c-green-light-side: lighten($c-green, 35);
$c-green-dark: darken($c-green, 30);
$c-blue: #077fcf;
$c-blue-light: lighten($c-blue, 50);
$c-blue-light-side: lighten($c-blue, 45);
$c-blue-dark: darken($c-blue, 25);
$c-yellow: #ffae00;
$c-red: #f50101;
$c-red-light: lighten($c-red, 45);
$c-red-dark: darken($c-red, 25);
$c-border-gray: #e0e0e0;

$c-mode-walk: $c-green;
$c-mode-tram: $c-red;
$c-mode-bus: $c-blue;
$c-mode-trolley: $c-yellow;
$c-mode-train: #ff671f;
$c-mode-subway: #00ab4f;
$c-mode-ferry: #311fff;
$c-mode-other: $c-dark-gray;

// Font colors
$c-font-black: #131313;

// Color binds
$c-primary: $c-red;
$c-button-bg: $c-light-gray;

// Borders
$border-radius-medium: 0.75rem;
$border-radius-small: 0.45rem;

// Width breakpoints
$breakpoint-mobile: 500px;

// Font sizes
$font-36px: 2.25rem;
$font-28px: 1.75rem;
$font-26px: 1.625rem;
$font-20px: 1.25rem;
$font-18px: 1.125rem;
$font-16px: 1rem;
$font-14px: 0.875rem;
$font-12px: 0.75rem;
$font-9px: 0.5625rem;

// Typography
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");
$font-family: "Nunito Sans", sans-serif;

// Mixins

@mixin ul-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin a-unstyled($color: false, $hoverUnderline: false) {
  @if $color {
    color: $color !important;
  } @else {
    color: inherit;
  }

  &:hover {
    @if not $hoverUnderline {
      text-decoration: none;
    }

    @if $color {
      color: $color !important;
    } @else {
      color: inherit;
    }
  }
}

@mixin box() {
  // box-shadow: 0 .15rem .65rem rgba($c-black, .15);
  border-radius: $border-radius-medium;
  border: 1px solid $c-border-gray;
}

@mixin layer($background-color: $c-white) {
  border-radius: $border-radius-medium;
  background-color: $background-color;
  border-bottom: 1px solid darken($background-color, 10);
  box-shadow: 0 1px 0.85rem rgba($c-black, 0.075);
  position: relative;
}

@mixin crater($background-color: $c-white) {
  border-radius: $border-radius-medium;
  background-color: $background-color;
  box-shadow: inset 0 1px 0 darken($background-color, 10),
    inset 0 1px 0.85rem rgba($c-black, 0.05);
  position: relative;
}

@mixin button-secondary(
  $icon: false,
  $background-color: $c-white,
  $color: $c-font-black
) {
  @include layer($background-color);

  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  font-weight: 600;
  color: $color;
  border-radius: 100px;
  cursor: pointer;

  @if $icon {
    display: flex;
    align-items: center;

    &:before {
      content: "";
      width: 0.65rem;
      height: 0.65rem;
      background-image: url($icon);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 0.45rem;
    }
  }
}

@mixin color-by-mode($prefix, $suffix, $property) {
  @at-root #{$prefix}.mode_BUS #{$suffix},
    #{$prefix}.mode_COACH #{$suffix} {
    #{$property}: $c-mode-bus;
  }

  @at-root #{$prefix}.mode_TRAM #{$suffix} {
    #{$property}: $c-mode-tram;
  }

  @at-root #{$prefix}.mode_TROLLEYBUS #{$suffix} {
    #{$property}: $c-mode-trolley;
  }

  @at-root #{$prefix}.mode_RAIL #{$suffix} {
    #{$property}: $c-mode-train;
  }

  @at-root #{$prefix}.mode_SUBWAY #{$suffix} {
    #{$property}: $c-mode-subway;
  }

  @at-root #{$prefix}.mode_FERRY #{$suffix} {
    #{$property}: $c-mode-ferry;
  }

  @at-root #{$prefix}.mode_OTHER #{$suffix} {
    #{$property}: $c-mode-other;
  }
}

@mixin background-image-by-mode($prefix, $suffix) {
  @at-root #{$prefix}.mode_WALK #{$suffix} {
    background-image: url(/images/walk.svg);
  }

  @at-root #{$prefix}.mode_BUS #{$suffix},
    #{$prefix}.mode_COACH #{$suffix} {
    background-image: url(/images/bus.svg);
  }

  @at-root #{$prefix}.mode_TRAM #{$suffix} {
    background-image: url(/images/tram.svg);
  }

  @at-root #{$prefix}.mode_TROLLEYBUS #{$suffix} {
    background-image: url(/images/trolley.svg);
  }

  @at-root #{$prefix}.mode_RAIL #{$suffix} {
    background-image: url(/images/train.svg);
  }

  @at-root #{$prefix}.mode_SUBWAY #{$suffix} {
    background-image: url(/images/subway.svg);
  }

  @at-root #{$prefix}.mode_FERRY #{$suffix} {
    background-image: url(/images/ferry.svg);
  }
}

// Vendors
