<template>
  <div :class="['advanced', open ? 'advanced_open' : '']">
    <div @click="toggleOpen()" class="advanced__head" tabindex="0">
      <div class="advanced__arrow">
        <Icon file="angle-down-black.svg" />
      </div>
      <div class="advanced__title">{{ headString }}</div>
    </div>
    <div class="advanced__body">
      <div class="advanced__content">
        <div class="advanced__category">
          <div class="advanced__radio">
            <label class="advanced__label" tabindex="0">
              <input
                type="radio"
                name="searchfor"
                v-model="generalStore.optimize"
                value="transfers"
              />
              <div class="advanced__option">{{ $t("fewer_transfers") }}</div>
            </label>
            <label class="advanced__label" tabindex="0">
              <input
                type="radio"
                name="searchfor"
                v-model="generalStore.optimize"
                value="quick"
              />
              <div class="advanced__option">{{ $t("short_duration") }}</div>
            </label>
          </div>
        </div>
        <div class="advanced__category">
          <div class="advanced__top">
            <div class="advanced__heading">{{ $t("max_transfers") }}</div>
            <div class="advanced__value">
              {{ maxTransfersString }}
            </div>
          </div>
          <input
            type="range"
            v-model="generalStore.maxTransfers"
            min="-1"
            max="5"
            step="1"
          />
        </div>
        <!-- <div class="advanced__category">
          <div class="advanced__top">
            <div class="advanced__heading">{{ $t("walk_reluctance") }}</div>
            <div class="advanced__value">{{ walkReluctanceString }}</div>
          </div>
          <input
            type="range"
            v-model="generalStore.walkReluctance"
            min="2"
            max="4"
            step="1"
          />
        </div> -->
        <div class="advanced__category">
          <div class="advanced__top">
            <div class="advanced__heading">{{ $t("walk_amount") }}</div>
            <div class="advanced__value">{{ walkAmountString }}</div>
          </div>
          <input
            type="range"
            v-model="generalStore.walkReluctance"
            min="2"
            max="4"
            step="1"
            style="direction: rtl"
          />
        </div>
        <div class="advanced__category">
          <div class="advanced__top">
            <div class="advanced__heading">{{ $t("walk_speed") }}</div>
            <div class="advanced__value">{{ walkSpeedString }}</div>
          </div>
          <input
            type="range"
            v-model="generalStore.walkSpeed"
            min="0"
            max="3"
            step="1"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from "vue";
import { useGeneralStore } from "@/stores/general";
import { useI18n } from "vue-i18n";

const { t } = useI18n();
const generalStore = useGeneralStore();

// Refs for reactive variables
const open = ref(false);

const maxTransfersString = computed(() => {
  return generalStore.maxTransfers == -1
    ? t("auto")
    : generalStore.maxTransfers;
});

// const walkReluctanceString = computed(() => {
//   return {
//     2: t("walk_reluctance_low"),
//     3: t("walk_reluctance_medium"),
//     4: t("walk_reluctance_high"),
//   }[generalStore.walkReluctance];
// });

const walkAmountString = computed(() => { // Opposite of walk reluctance
  return {
    2: t("walk_amount_high"),
    3: t("walk_amount_medium"),
    4: t("walk_amount_low"),
  }[generalStore.walkReluctance];
});

const walkSpeedString = computed(() => {
  return {
    0: t("stroll"),
    1: t("walk"),
    2: t("trot"),
    3: t("sprint"),
  }[generalStore.walkSpeed];
});

const headString = computed(() => {
  return open.value ? t("fewer_settings") : t("more_settings");
});

// Methods
function toggleOpen() {
  open.value = !open.value;
}
</script>

<style lang="scss">
.advanced {
  margin: 0.5rem 1rem;

  &__head {
    display: flex;
    width: fit-content;
    align-items: center;
    opacity: 0.75;
    text-decoration: underline;
    cursor: pointer;
  }

  &__arrow {
    border-radius: 100px;
    width: 0.65rem;
    height: 0.65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.45rem;

    img {
      width: 100%;
      height: 100%;
      // opacity: 0.55;
      transition: 0.2s transform ease-in-out;

      .advanced_open & {
        transform: rotate(180deg);
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 0.85rem;
    // opacity: 0.5;
  }

  &__body {
    position: relative;
    overflow: hidden;
    font-size: 0.85rem;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
    border-color: $c-light-gray;

    .advanced_open & {
      max-height: 300px;
    }

    // max-height: 0 + padding-top: .5rem != height: 0
    // A pseudoelement with the desired height can push the content down while
    // having max-height: 0
    &:before {
      content: "";
      display: block;
      height: 0.5rem;
    }
  }

  &__content {
    padding: 1rem;
    box-shadow: inset 0 0 0 1px $c-light-gray;
    border-radius: $border-radius-medium;
  }

  &__category {
    margin-bottom: 0.65rem;

    &:first-child {
      margin-bottom: 1rem;
    }
  }

  &__top {
    display: flex;
    font-weight: 600;
  }

  &__heading {
    margin-bottom: 0.25rem;
    margin-right: 0.5rem;
    font-weight: 400;
  }

  &__value {
    font-weight: 700;
  }

  &__radio {
    display: flex;
  }

  &__label {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    cursor: pointer;

    &:first-child {
      margin-right: 1rem;
    }

    input {
      display: none;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    &:before {
      content: "";
      display: block;
      width: 1rem;
      height: 1rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(/images/option.svg);
      margin-right: 0.35rem;
    }

    input[type="radio"]:checked + & {
      font-weight: 700;

      &:before {
        background-image: url(/images/option-selected.svg);
      }
    }

    &:not(input[type="radio"]:checked + &):hover {
      text-decoration: underline;
    }
  }
}

// Input range
input[type="range"] {
  appearance: none;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 1px;
  outline: none;
  touch-action: none;
  position: relative;
  background-color: $c-border-gray;
  z-index: 1;

  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: $c-primary;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  &::-webkit-slider-runnable-track,
  &::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: $c-light-gray;
    border: none;
  }
}
</style>
