<template>
  <div class="header">
    <a class="header__link" href="/">
      <div class="header__logo">
        <img src="/images/logo.svg" alt="Najdispoj.sk" />
      </div>
    </a>
    <select class="header__locale" v-model="locale">
      <option v-for="supportedLocale in supportedLocales" :value="supportedLocale.code" :selected="supportedLocale.code === locale">{{ supportedLocale.name }}</option>
    </select>
  </div>
</template>

<script setup>
import config from "../config";
const { locale } = useI18n();
const supportedLocales = config.locales.supported;
</script>

<style lang="scss">
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0;
  z-index: 10;
  position: relative;

  &__link {
    @include a-unstyled;

    display: flex;
    text-decoration: none;
    position: relative;
  }

  &__locale {
    display: block;
    font-size: 1rem;
    opacity: 0.35;
    height: fit-content;
    cursor: pointer;
    border: none;
    text-align: right;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__logo {
    .page__body_dark & {
      border-color: $c-white;
    }

    img {
      height: 3.75rem;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 1.55rem;
    font-weight: 700;
    opacity: 0.85;
    line-height: 1.55em;
  }

  &__subtitle {
    opacity: 0.65;
    font-size: 0.65rem;
    line-height: 0.8rem;
    font-weight: 400;
    padding-left: 0.5px;
  }
}
</style>
